@keyframes fade-in-down {
    0% {
        opacity: 0;
        transform: translateY(-20px) translateX(0);
        -webkit-transform: translateY(-20px) translateX(0);
        -moz-transform: translateY(-20px) translateX(0);
        -ms-transform: translateY(-20px) translateX(0);
        -o-transform: translateY(-20px) translateX(0);
    }

    100% {
        opacity: 1;
        transform: translateY(0) translateX(0);
        -webkit-transform: translateY(0) translateX(0);
        -moz-transform: translateY(0) translateX(0);
        -ms-transform: translateY(0) translateX(0);
        -o-transform: translateY(0) translateX(0);
    }
}
@keyframes fade-in-down-center {
    0% {
        opacity: 0;
        transform: translateY(-20px) translateX(-50%);
        -webkit-transform: translateY(-20px) translateX(-50%);
        -moz-transform: translateY(-20px) translateX(-50%);
        -ms-transform: translateY(-20px) translateX(-50%);
        -o-transform: translateY(-20px) translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
        -webkit-transform: translateY(0) translateX(-50%);
        -moz-transform: translateY(0) translateX(-50%);
        -ms-transform: translateY(0) translateX(-50%);
        -o-transform: translateY(0) translateX(-50%);
    }
}
@keyframes fade-in-down-30 {
    0% {
        opacity: 0;
        transform: translateY(-30px);
        -webkit-transform: translateY(-30px);
        -moz-transform: translateY(-30px);
        -ms-transform: translateY(-30px);
        -o-transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-down-40 {
    0% {
        opacity: 0;
        transform: translateY(-40px);
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -o-transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-down-50 {
    0% {
        opacity: 0;
        transform: translateY(-50px);
        -webkit-transform: translateY(-50px);
        -moz-transform: translateY(-50px);
        -ms-transform: translateY(-50px);
        -o-transform: translateY(-50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fade-in-down-60 {
    0% {
        opacity: 0;
        transform: translateY(-60px);
        -webkit-transform: translateY(-60px);
        -moz-transform: translateY(-60px);
        -ms-transform: translateY(-60px);
        -o-transform: translateY(-60px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes fade-in-down-70 {
    0% {
        opacity: 0;
        transform: translateY(-70px);
   
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}